input,
select,
select > option {
  border: 1px solid #999;
  padding: 0.5rem;
  width: 300px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 11px;
}

.input-search {
  width: 800px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    width: unset;
    align-items: center;

    > *:first-child {
      margin-bottom: 50px;
    }
  }
}

.list-component {
  text-align: -webkit-center;
  padding-top: 10px;
}
